/* background */
body {
  background:brown
}

/* /*headers styling* */

div.box {
  text-align:center
}

/* paragraph styling */
h1 {
  font-family: 'Reenie Beanie', cursive;
  text-align: center;
 }
h2{
   font-family: 'Reenie Beanie', cursive;
  text-align: center;
}
p{
  text-align: center;
  font-family: 'Nothing You Could Do', cursive;
}

ol {
  list-style-position: inside;
  font-family: 'Nothing You Could Do', cursive;
  text-align: center;
  margin-left: auto;
  margin-right:auto;
}

hr{
  margin-left: 3in;
  margin-right:3in;
}

/* footer Style */
h3{
  font-family: 'Reenie Beanie', cursive;
  text-align: center; 
}
ul {
  list-style-position: inside;
  font-family: 'Nothing You Could Do', cursive;
 text-align: center;

  a {
    font-family: 'Nothing You Could Do', cursive;
    font-size: 18px;
    text-align: center;
    }
}

a:link    { color:crimson;}
a:hover   { color: green; }

